[alias]
  s = status
  stats = status
  ci = commit
  br = branch
  co = checkout
  d = diff
  lg = log -p
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[merge]
  tool = diffmerge
  conflictstyle = diff3
[push]
	default = current
[pull]
  default = current
  rebase = true
[core]
	excludesfile = ~/.gituser/gitignore
[apply]
  whitespace = strip
[gpg]
  program = gpg2
[commit]
  gpgsign = true
[user]
  signkey = 87E3E375744EF2A1
[includeIf "gitdir:~/"]
  path = ~/.gituser/gituser.personal
[includeIf "gitdir:~/code/farfetch/"]
  path = ~/.gituser/gituser.farfetch
