[alias]
  s = status --short --branch
  stats = status
  ci = commit
  br = branch
  co = checkout
  d = diff
  lg = log -p
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  l = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(     13 white)%s%C(reset) %C(dim white)- %an%C(reset)'
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[merge]
  tool = diffmerge
  conflictstyle = diff3
[push]
	default = current
[pull]
  default = current
  rebase = true
[core]
	excludesfile = ~/.gituser/gitignore
[apply]
  whitespace = strip
[includeIf "gitdir:~/"]
  path = ~/.gituser/gituser.personal
[includeIf "hasconfig:remote.*.url:*wealthsimple/**"]
  path = ~/.gituser/gituser.wealthsimple
